language: objective-c
osx_image: xcode8.2
before_install:
  - export IOS_SIMULATOR_UDID=`instruments -s devices | grep "iPhone 5 (10." | awk -F '[ ]' '{print $4}' | awk -F '[\[]' '{print $2}' | sed 's/.$//' | awk 'END{print}'`
  - echo $IOS_SIMULATOR_UDID
  - open -a "simulator" --args -CurrentDeviceUDID $IOS_SIMULATOR_UDID
  - make install
script:
  - make test
